.father {
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 100%;
  flex-basis: 300px;
  background: peru;
  color: white;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background: black;
  /*flex-grow: default is zero. take spaces around box*/
  flex-grow: 0;
}