.father {
  display: grid;
  grid-template-columns: repeat(auto, 200px);
  grid-template-rows: repeat(4, 200px);
  grid-template-areas: 
   "header header header header"
   "content content content nav"
   "content content content nav"
   "footer footer footer footer";
}

.header {
  background: rgb(110, 187, 66);
  grid-area: header;
}

.content {
  background: rgb(63, 205, 193);
  grid-area: content;
}

.nav {
  background: rgb(205, 63, 98);
  grid-area: nav;
}

.footer {
  background: rgb(146, 119, 30);
  grid-area: footer;
}